@model IMS.Models.ProductType

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-6">
        <h4 class="text-uppercase">Add Product Type</h4>
    </div>
    <div class="col-6 text-end">
        <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i>&nbsp; Back to Dashboard </a>
    </div>
</div>

<div id="DivPType">
</div>
@using (Ajax.BeginForm("Create", "ProductType", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "DivPType",
    OnComplete = "ClearFields"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control ", id = "PTName" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Product type" class="pl-2 pr-2 btn btn-outline-success" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-info" })
            </div>
        </div>
    </div>
}




@section Scripts {
    <script>
        var messageTimer;

        function updateDivDept(data) {
            var divElement = document.getElementById("DivPType");
            if (data && data.message) {
                var messageElement = document.createElement("div");
                messageElement.innerHTML = data.message;

                if (data.success) {
                    messageElement.classList.add("message");
                } else {

                    messageElement.classList.add("messageError");
                }

                divElement.appendChild(messageElement);

                messageTimer = setTimeout(function () {
                    messageElement.remove();
                }, 5000);
            }
        }

        // AJAX form submission complete callback
        function ClearFields(ajaxContext) {
            updateDivDept(ajaxContext.responseJSON);
            document.getElementById("PTName").value = "";

        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
