@model IMS.Models.ViewModel.GarmentsProductViewModel

<div class="row">
    @foreach (var product in Model.GarmentsProducts)
    {
        <div class="col-md-3 mt-2 mb-2">
            <div class="card" style="width: 17rem;">
                <img src="@Url.Content("~/Images/" + product.Image)" class="card-img-top" alt="Product Image" style="height:280px;width:auto">
                <div class="card-body">
                    <p class="card-title text-uppercase" style="font-weight:bold;font-size:14px;">@product.Name</p>
                    <p class="card-text" style="font-size:12px;">Sizes: @product.SKU</p>
                    <p class="card-text" style="font-size:12px;">Price: @product.Price.ToString("C")</p>
                    @Html.ActionLink("Product Details", "ProductDetails", "InventoryShopping",new {ProductId=product.Id }, new {@class="btn btn-success"})
                </div>
            </div>
        </div>
    }
</div>
<div>
    Page @Model.PageNumber of @Math.Ceiling((double)Model.TotalCount / Model.PageSize)

    @if (Model.PageNumber > 1)
    {
        <a href="@Url.Action("Index", new { pageNumber = Model.PageNumber - 1 })">Previous</a>
    }

    @if (Model.PageNumber < Math.Ceiling((double)Model.TotalCount / Model.PageSize))
    {
        <a href="@Url.Action("Index", new { pageNumber = Model.PageNumber + 1 })">Next</a>
    }
</div>
