@model IMS.Models.ViewModel.ProductViewModel

@{
    ViewBag.Title = "_ProductListPartial";
}


<div class="row">
    <br />
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-3 col-md-6 mt-2 mb-2">
            <div class="card" style="width:90%; margin-left:5%;">
                <img src="@Url.Content("~/Images/" + product.Image)" height="250" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <p class="card-title text-uppercase" style="font-weight:bold;font-size:15px;">@product.Name</p>
                    <p class="card-text" style="font-size:12px;">Sizes: @product.SKU</p>
                    <p class="card-text" style="font-size:12px;">Price: @product.Price.ToString("C")</p>
                    @Html.ActionLink("Product Details", "ProductDetails", "CustomerShopping", new { ProductId = product.Id }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }

</div>
@if (Model.Products.Count() > 0)
{
    <div class=" row pt-5 mt-5 pb-4">
        <div class="col-6">
            Page @Model.PageNumber of @Math.Ceiling((double)Model.TotalCount / Model.PageSize)
        </div>

        <div class="text-end col-6">
            @if (Model.PageNumber > 1)
            {
                <a href="@Url.Action("Index", new { pageNumber = Model.PageNumber - 1 })" class="btn btn-primary">Previous</a>
            }
            else
            {
                <a class="btn btn-secondary">Previous</a>
            }
            <span class="btn btn-light" style="border:1px solid #000">@Model.PageNumber</span>
            @if (Model.PageNumber < Math.Ceiling((double)Model.TotalCount / Model.PageSize))
            {
                <a href="@Url.Action("Index", new { pageNumber = Model.PageNumber + 1 })" class="btn btn-primary">Next</a>
            }
            else
            {
                <a class="btn btn-secondary">Next</a>
            }


        </div>

    </div>
}
else
{
    <div>
        <p>No relatable data found!</p>
    </div>
}
