@model IEnumerable<IMS.Models.Department>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="text-end">
            <a href="@Url.Action("Edit", "Department", new { id = item.Id })" class="btn btn-outline-primary">
                <i class="fas fa-edit"></i>
            </a>

            <a href="@Url.Action("Active", "Department", new { id = item.Id })" class="btn btn-outline-warning">
                <i class="fas fa-times"></i>
            </a>
            <a href="@Url.Action("Delete", "Department", new { id = item.Id })" class="btn btn-outline-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
}

</table>
