@model IMS.Models.ViewModel.CustomerInvoiceViewModel
@{
    ViewBag.Title = "InvoiceForCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index", "CustomerHome", new {area="Customer"})" class="dont-show no-print mt-2 btn btn-outline-info">
    <i class="fa-solid fa-circle-left"></i>
</a>
<div class="row" id="CustomerInvoice">
    <div class="col-10 pb-4 mb-4 offset-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center pb-3 pt-2">
                        <h4 class="text-uppercase pb-4">Inventory Management System</h4>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>Order By</h5>
                        <p>@Model.OrderHeader.Name</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>Invoice No.</h5>
                        @{
                            int depth = Model.OrderHeader.Id.ToString().Length;
                            int dif = 6 - depth;
                            string num = Model.OrderHeader.Id.ToString();
                            if (dif > 0)
                            {
                                string newId = new string('0', dif);
                                num = newId + num;
                            }
                        }

                        <p>@num</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>Order Date</h5>
                        <p>@Model.OrderHeader.OrderDate.ToString().AsDateTime().ToShortDateString()</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>
                            Shipping Date
                        </h5>
                        @{
                            var creationDate = DateTime.Parse(Model.OrderHeader.OrderDate.ToString().AsDateTime().ToShortDateString());
                            var newDate = creationDate.AddDays(7);
                        }
                        <p>@newDate.ToShortDateString()</p>

                    </div>
                    <div class="col-6 pb-2">
                        <h5>City</h5>
                        <p>@Model.OrderHeader.City</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>Thana</h5>
                        <p>@Model.OrderHeader.Thana</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>Postal Code</h5>
                        <p>@Model.OrderHeader.PostalCode</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>
                            Address
                        </h5>
                        <p>@Model.OrderHeader.StreetAddress</p>

                    </div>
                    <div class="col-6 pb-2">
                        <h5>
                            Order Status
                        </h5>
                        <p>@Model.OrderHeader.OrderStatus</p>
                    </div>
                    <div class="col-6 pb-2">
                        <h5>
                            Payment Status
                        </h5>
                        <p>@Model.OrderHeader.PaymentStatus</p>
                    </div>

                    <div class="col-12">
                        <h5 class="text-uppercase pt-2 pb-1 text-decoration-underline">Clothing Products</h5>
                        <br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td><img src="@Url.Content("~/Images/" + item.Product.Image)" width="30" alt="img" /></td>
                                        <td>@item.Product.Name</td>
                                        <td>@item.Count</td>
                                        <td>@item.Price.ToString("C")</td>
                                        <td>$@(item.Count * item.Price)</td>
                                    </tr>
                                    i++;
                                }

                                <tr style="border-bottom:1px solid #fcfafa00; border-top:2px solid #000 !important;">
                                    <td class="fw-bold">
                                        Payment:
                                        Credit Card
                                    </td>
                                    <td colspan="2"></td>
                                    <td class="fw-bold">
                                        Total:
                                        @{ int sum = 0; }

                                        @foreach (var item in Model.OrderDetails)
                                        {
                                            sum += item.Count;
                                        }
                                        <small>@sum </small>
                                    </td>
                                    <td colspan="1"></td>
                                    <td class="fw-bold">
                                        Total:
                                        @Model.OrderHeader.OrderTotal.ToString("C")
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="col-12 text-end pt-3 pb-3 no-print">
                        <button class="btn btn-primary" onclick="window.print();">Print Invoice</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        window.onbeforeprint = function () {
            var elementsToHide = document.querySelectorAll('.no-print');
            for (var i = 0; i < elementsToHide.length; i++) {
                elementsToHide[i].style.display = 'none';
            }

            var watermarkImage = document.querySelector('#watermark img');
            if (watermarkImage) {
                watermarkImage.style.display = 'block';
            }
        }

        window.onafterprint = function () {
            var elementsToHide = document.querySelectorAll('.no-print');
            for (var i = 0; i < elementsToHide.length; i++) {
                elementsToHide[i].style.display = '';
            }

            var watermarkImage = document.querySelector('#watermark img');
            if (watermarkImage) {
                watermarkImage.style.display = 'none';
            }
        }

        window.onload = function () {
            function addWatermark() {
                var watermarkDiv = document.createElement('div');
                watermarkDiv.id = 'watermark';

                var image = new Image();
                image.src = '/Images/logo.png';
                image.alt = 'IMS';
                image.style = 'position: fixed; top: 30%; left: 50%; transform: translate(-50%, -50%); opacity: 0.1; pointer-events: none; display: none; width: 350px; height: 400px;';

                image.onload = function () {
                    watermarkDiv.appendChild(image);
                    document.body.appendChild(watermarkDiv);

                    // Show the watermark only in print
                    if (window.matchMedia) {
                        var mediaQueryList = window.matchMedia('print');
                        mediaQueryList.addListener(function (mql) {
                            if (mql.matches) {
                                image.style.display = 'block';
                            } else {
                                image.style.display = 'none';
                            }
                        });

                        // Initial check for print media type
                        if (mediaQueryList.matches) {
                            image.style.display = 'block';
                        }
                    }
                };

                document.body.appendChild(watermarkDiv);
            }

            addWatermark();
        };

    </script>

}

