@model IMS.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "GarmentsRegister";
}

<main aria-labelledby="title">
    <div class="row">
        <div class="col-6">
            <h4 class="text-uppercase">Register as a new user</h4>
        </div>
        <div class="col-6 text-end">
            @Html.ActionLink("Register as a Customer", "Register", "Account", new { @class = "btn btn-outline-secondary" })
        </div>
    </div>

    <br />
    @using (Html.BeginForm("GRegister", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @*<div class="col-md-12 pb-2">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter your username" })
                </div>*@
            <div class="col-md-12 pb-2">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.TextBoxFor(m => m.GarmentsName, new { @class = "form-control", placeholder = "Enter your garments name" })
                @Html.ValidationMessageFor(m => m.GarmentsName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter your phone number" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control", placeholder = "Street address" })
                @Html.ValidationMessageFor(m => m.StreetAddress, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.TextBoxFor(m => m.Thana, new { @class = "form-control", placeholder = "Thana" })
                @Html.ValidationMessageFor(m => m.Thana, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 pb-2">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control",type="number", placeholder = "Postal code" })
                @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="text-center p-2">
                <input type="submit" value="CREATE ACCOUNT" class="btn btn-success" style="width:100%" />
                @if (User.IsInRole("Admin") == false)
                {
                    <div class="d-block pt-4">
                        <span class="pt-4">Already Registered?</span>
                        @Html.ActionLink("Login", "Login", "Account", new { @class = "btn pt-1 text-primary" })
                    </div>
                }
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>