@model IMS.Models.InventoryOrderCart

@using (Html.BeginForm("ProductDetails", "InventoryShopping", FormMethod.Post))
{
    <input type="hidden" name="ProductId" value="@Model.ProductId" />
    <div class="card container">
        <div class="card-header bg-dark text-light ml-0 row">
            <div class="col-12 col-md-6">
                <h2 class="text-white-50 text-uppercase">@Model.GarmentsProduct.Name</h2>

            </div>
        </div>
        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-md-6 col-lg-8">
                        <div class="row pl-2">
                            <h5 class=" pb-2">Product Price: @Model.GarmentsProduct.Price.ToString("c")</h5>
                        </div>
                        <div class="row pl-2">
                            <p class="text-secondary"><span class="text-dark fw-bold">Department: </span> @Model.GarmentsProduct.Department.Name</p>
                        </div>
                        <div class="row pl-2">
                            <p class="text-secondary"><span class="text-dark fw-bold">Product Type:</span> @Model.GarmentsProduct.ProductType.Name</p>
                        </div>
                        <div class="row pl-2">
                            <p class="text-secondary"><span class="text-dark fw-bold">Product Sizes:</span> @Model.GarmentsProduct.SKU</p>
                        </div>
                        <div class="row pl-2 pb-2" id="ProductDescription">
                            <p class="text-secondary"><span class="text-dark fw-bold">Product Description:</span><br />@Html.Raw(Model.GarmentsProduct.Description) </p>
                        </div>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <div class="row pb-2">
                                <div class="col-5 col-lg-2">
                                    <h4>Count</h4>
                                </div>
                                <div class="col-7 col-lg-2">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Count, new { @class = "form-control", type = "number", min = "1" })
                                        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8"></div>
                            </div>
                        }

                    </div>
                    <div class="col-md-6 col-lg-3 offset-lg-1 text-center">
                        <img src="@Url.Content("~/Images/" + Model.GarmentsProduct.Image)" height="300" class="rounded" style="box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2) " alt="Product Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end p-4">

            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <button type="submit" class="btn btn-outline-primary mb-1">Add Product to Cart</button>
            }
            @Html.ActionLink("Back to Home", "Index", "Garments", null, new { @class = "btn mb-1 btn-outline-success" })
        </div>
    </div>
}

