@model IMS.Models.ViewModel.BuyingReportViewModel

<table class="table table-bordered table-hover pt-2 pb-4" id="historyOrder">
    <thead>
        <tr>
            <th class="border-top-0">Order Id</th>
            <th class="border-top-0">Order By</th>
            <th class="border-top-0">ORDER DATE</th>
            <th class="border-top-0">TOTAL PRICE</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.History.GroupBy(u => u.OrderId).Select(t => t.First()))
        {
            int depth = item.OrderId.ToString().Length;
            int dif = 6 - depth;
            string num = item.OrderId.ToString();
            if (dif > 0)
            {
                string newId = new string('0', dif);
                num = newId + num;
            }
            <tr>
                <td>@num</td>
                <td>@Model.Name[item.OrderId]</td>
                <td>@item.CreationDate.ToString().AsDateTime().ToShortDateString()</td>
                <td>@item.TotalPrice.ToString("C")</td>
            </tr>
        }
        <tr> <td colspan="4" style="border-right:none;border-left:none;"></td></tr>
        <tr>
            <td class="fw-bold text-dark">Total :</td>
            <td colspan="2"></td>
            @{
                decimal totalAmount = 0;
                decimal returnAmount = 0;
            }
            @foreach (var item in Model.History)
            {
                totalAmount += @item.TotalPrice;
            }
            <td class="fw-bold text-dark">@totalAmount.ToString("C")</td>
        </tr>
        @if (Model.RejectProducts.Count() > 0 && Model.History.Count() > 0)
        {

            <tr>
                <td class="fw-bold text-dark">Total Return Amount:</td>
                <td colspan="2"></td>
                @foreach (var item in Model.RejectProducts)
                {
                    decimal price = item.Quantity * item.BuyingPrice;
                    returnAmount += price;
                }
                <td class="fw-bold text-dark">@returnAmount.ToString("C")</td>
            </tr>
        }
        <tr>
            <td colspan="4" style="border-right:none;border-left:none;"></td>
        </tr>
        <tr style="border-top:3px solid #000">
            <td class="fw-bold text-dark">Total Order Cost:</td>
            <td colspan="2"></td>
            <td class="fw-bold text-dark">@((totalAmount-returnAmount).ToString("C"))</td>
        </tr>
    </tbody>
</table>
@if (Model.History.Count() > 0)
{
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <button id="btnPrint" class="btn btn-secondary w-100 no-print" onclick="window.print();">Print</button>
        </div>
    </div>
}