@model IMS.Models.ViewModel.BuyingReportViewModel

<table class="table table-striped table-hover pt-2 pb-4" id="historyOrder">
    <thead>
        <tr>
            <th class="border-top-0">Order Id</th>
            <th class="border-top-0">Order By</th>
            <th class="border-top-0">ORDER DATE</th>
            <th class="border-top-0">TOTAL PRICE</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.History.GroupBy(u => u.OrderId).Select(t => t.First()))
        {
            int depth = item.OrderId.ToString().Length;
            int dif = 6 - depth;
            string num = item.OrderId.ToString();
            if (dif > 0)
            {
                string newId = new string('0', dif);
                num = newId + num;
            }
            <tr>
                <td>@num</td>
                <td>@Model.Name[item.OrderId]</td>
                <td>@item.CreationDate.ToString().AsDateTime().ToShortDateString()</td>
                <td>@item.TotalPrice.ToString("C")</td>
            </tr>
        }
        <tr class="bg-secondary text-white">
            <td class="fw-bold text-white">Total :</td>
            <td colspan="2"></td>
            @{
                decimal totalAmount = 0;
                decimal returnAmount = 0;
            }
            @foreach (var item in Model.History)
            {
                totalAmount += @item.TotalPrice;
            }
            <td class="fw-bold text-white">@totalAmount.ToString("C")</td>
        </tr>
        @if (Model.RejectProducts.Count() > 0)
        {

            <tr class="bg-secondary text-white">
                <td class="fw-bold text-white">Total Return Amount:</td>
                <td colspan="2"></td>
                @foreach (var item in Model.RejectProducts)
                {
                    decimal price = item.Quantity * item.BuyingPrice;
                    returnAmount += price;
                }
                <td class="fw-bold text-white">@returnAmount.ToString("C")</td>
            </tr>
        }
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr class="bg-dark text-white">
            <td class="fw-bold text-white">Total Order Cost:</td>
            <td colspan="2"></td>
            <td class="fw-bold text-white">@((totalAmount-returnAmount).ToString("C"))</td>
        </tr>
    </tbody>
</table>