@model IEnumerable<IMS.Models.OrderHeader>

<table id="reportTable" class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Shop Name</th>
            <th>Payment Status</th>
            <th>Order Date</th>
            <th>Order Total($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int depth = item.Id.ToString().Length;
            int dif = 6 - depth;
            string num = item.Id.ToString();
            if (dif > 0)
            {
                string newId = new string('0', dif);
                num = newId + num;
            }
            <tr>
                <td>@num</td>
                <td>@item.Name</td>
                <td>@item.PaymentStatus</td>
                <td>@item.OrderDate.ToString().AsDateTime().ToShortDateString()</td>
                <td>@item.OrderTotal.ToString("C")</td>
            </tr>
        }
        <tr class="bg-dark text-white">
            <td class="fw-bold text-white">Total :</td>
            <td colspan="3"></td>
            @{
                decimal totalAmount = 0;
            }
            @foreach (var item in Model)
            {
                totalAmount += @item.OrderTotal;
            }
            <td class="fw-bold text-white">@totalAmount.ToString("C")</td>
        </tr>
    </tbody>
</table>
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <button id="btnPrint" class="btn btn-secondary w-100 no-print" onclick="window.print();">Print</button>
        </div>
    </div>
}