@model IMS.Models.ViewModel.BuyingReportViewModel
@{
    ViewBag.Title = "BuyingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2 pb-3 mb-2">
    <div class="col-6">
        <h4 class="text-uppercase">Buying Report</h4>
    </div>
    <div class="col-6 text-end no-print">

        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }

        @if (User.IsInRole("Manager"))
        {
            <a href="@Url.Action("Index", "ManagerHome", new {area="Manager"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }
    </div>
</div>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="row pb-2 mb-3">
        <div class="col">
            <label>From : </label>
            <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.StartDateValue" />
        </div>
        <div class="col">
            <label>To : </label>
            <input type="date" class="form-control" id="finalDate" name="endDate" value="@ViewBag.EndDateValue" />
        </div>

        <div class="col">
            <label></label>
            <input type="text" class="form-control" id="search" name="searchText" placeholder="Write OrderId or employee email..." value="@(Request.QueryString["searchText"] ?? "")" />
        </div>
        <div class="col">
            <label></label>
            <input type="submit" id="btnView" class="btn btn-primary w-100" value="Search" />
        </div>

    </div>
}


<div id="tableContainer">
    <table class="table table-bordered table-hover pt-2 pb-4" id="historyOrder">
        <thead>
            <tr>
                <th class="border-top-0">Order Id</th>
                <th class="border-top-0">Order By</th>
                <th class="border-top-0">ORDER DATE</th>
                <th class="border-top-0">TOTAL PRICE</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.History.GroupBy(u => u.OrderId).Select(t => t.First()))
            {
                int depth = item.OrderId.ToString().Length;
                int dif = 6 - depth;
                string num = item.OrderId.ToString();
                if (dif > 0)
                {
                    string newId = new string('0', dif);
                    num = newId + num;
                }
                <tr>
                    <td>@num</td>
                    <td>@Model.Name[item.OrderId]</td>
                    <td>@item.CreationDate.ToString().AsDateTime().ToShortDateString()</td>
                    <td>@item.TotalPrice.ToString("C")</td>
                </tr>
            }
            <tr>
                <td colspan="4" style="border-right:none;border-left:none;"></td>
            </tr>

            <tr>
                <td class="fw-bold text-dark">Total :</td>
                <td colspan="2"></td>
                @{
                    decimal totalAmount = 0;
                    decimal returnAmount = 0;
                }
                @foreach (var item in Model.History)
                {
                    totalAmount += @item.TotalPrice;
                }
                <td class="fw-bold text-dark">@totalAmount.ToString("C")</td>
            </tr>
            @if (Model.RejectProducts.Count() > 0 && Model.History.Count() > 0)
            {

                <tr>
                    <td class="fw-bold text-dark">Total Return Amount (-) :</td>
                    <td colspan="2"></td>
                    @foreach (var item in Model.RejectProducts)
                    {
                        decimal price = item.Quantity * item.BuyingPrice;
                        returnAmount += price;
                    }
                    <td class="fw-bold text-dark">@returnAmount.ToString("C")</td>
                </tr>
            }
            <tr>
                <td colspan="4" style="border-right:none;border-left:none;"></td>
            </tr>
            <tr style="border-top:3px solid #000">
                <td class="fw-bold text-dark">Total Order Cost :</td>
                <td colspan="2"></td>
                <td class="fw-bold text-dark">@((totalAmount-returnAmount).ToString("C"))</td>
            </tr>
        </tbody>
    </table>
    @if (Model.History.Count() > 0)
    {
        <div class="row pb-3">
            <div class="col-9"></div>
            <div class="col-3">
                <button id="btnPrint" class="btn btn-secondary w-100 no-print" onclick="window.print();">Print</button>
            </div>
        </div>
    }
    

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click', '#btnView', function (e) {
                e.preventDefault();
                $("#tableContainer").html("");
                let startDate = $("#startDate").val();
                let endDate = $("#finalDate").val();
                let searchText = $("#search").val();

                $.ajax({
                    url: `@Url.Action("LoadReports","ManagerHome")`,
                    data: { startDate: startDate, endDate: endDate, searchText: searchText },
                    success: function (result) {
                        console.log(result);
                        $("#tableContainer").html(result);
                    }
                });

            })

            window.onbeforeprint = function () {
                var elementsToHide = document.querySelectorAll('.no-print');
                for (var i = 0; i < elementsToHide.length; i++) {
                    elementsToHide[i].style.display = 'none';
                }

                var watermarkImage = document.querySelector('#watermark img');
                if (watermarkImage) {
                    watermarkImage.style.display = 'block';
                }
            }

            window.onafterprint = function () {
                var elementsToHide = document.querySelectorAll('.no-print');
                for (var i = 0; i < elementsToHide.length; i++) {
                    elementsToHide[i].style.display = '';
                }

                var watermarkImage = document.querySelector('#watermark img');
                if (watermarkImage) {
                    watermarkImage.style.display = 'none';
                }
            }

            window.onload = function () {
                function addWatermark() {
                    var watermarkDiv = document.createElement('div');
                    watermarkDiv.id = 'watermark';

                    var image = new Image();
                    image.src = '/Images/logo.png';
                    image.alt = 'IMS';
                    image.style = 'position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0.1; pointer-events: none; display: none; width: 350px; height: 400px;';

                    image.onload = function () {
                        watermarkDiv.appendChild(image);
                        document.body.appendChild(watermarkDiv);

                        // Show the watermark only in print
                        if (window.matchMedia) {
                            var mediaQueryList = window.matchMedia('print');
                            mediaQueryList.addListener(function (mql) {
                                if (mql.matches) {
                                    image.style.display = 'block';
                                } else {
                                    image.style.display = 'none';
                                }
                            });

                            // Initial check for print media type
                            if (mediaQueryList.matches) {
                                image.style.display = 'block';
                            }
                        }
                    };

                    document.body.appendChild(watermarkDiv);
                }

                addWatermark();
            };

        })
    </script>
}
