@model IMS.Models.ViewModel.BuyingReportViewModel
@{
    ViewBag.Title = "BuyingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2 pb-4 mb-4">
    <div class="col-6">
        <h4 class="text-uppercase">Buying Report</h4>
    </div>

</div>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="row pb-2 mb-2">
        <div class="col">
            <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.StartDateValue" />
        </div>
        <div class="col">
            <input type="date" class="form-control" id="finalDate" name="endDate" value="@ViewBag.EndDateValue" />
</div>

<div class="col">
            <input type="text" class="form-control" id="search" name="searchText" placeholder="Write OrderId or employee email..." value="@(Request.QueryString["searchText"] ?? "")" />
        </div>
        <div class="col">
            <input type="submit" id="btnView" class="btn btn-primary w-100" value="Search" />
        </div>
    </div>
}


<div id="tableContainer">
    <table class="table table-striped table-hover pt-2 pb-4" id="historyOrder">
        <thead>
            <tr>
                <th class="border-top-0">Order Id</th>
                <th class="border-top-0">Order By</th>
                <th class="border-top-0">ORDER DATE</th>
                <th class="border-top-0">TOTAL PRICE</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.History.GroupBy(u => u.OrderId).Select(t => t.First()))
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@Model.Name[item.OrderId]</td>
                    <td>@item.CreationDate.ToString().AsDateTime().ToShortDateString()</td>
                    <td>@item.TotalPrice.ToString("C")</td>
                </tr>
            }
            <tr class="bg-dark text-white">
                <td class="fw-bold text-white">Total :</td>
                <td colspan="2"></td>
                @{
                    decimal totalAmount = 0;
                }
                @foreach (var item in Model.History)
                {
                    totalAmount += @item.TotalPrice;
                }
                <td class="fw-bold text-white">@totalAmount.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click', '#btnView', function (e) {
                e.preventDefault();
                $("#tableContainer").html("");
                let startDate = $("#startDate").val();
                let endDate = $("#finalDate").val();
                let searchText = $("#search").val();

                $.ajax({
                    url: `@Url.Action("LoadReports","ManagerHome")`,
                    data: { startDate: startDate, endDate: endDate, searchText: searchText },
                    success: function (result) {
                        console.log(result);
                        $("#tableContainer").html(result);
                    }
                });

            })
        })
    </script>
    }