@model IEnumerable<IMS.Models.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pb-4 pt-2">
    <div class="col-md-6">
        <h4 class="text-uppercase">Deactivated Product List</h4>
    </div>
</div>

<table id="productTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Buying Price</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content("~/Images/" + item.Image)" width="40" alt="img" />
                </td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.BuyingPrice.ToString("C")</td>
                <td>@item.Price.ToString("C")</td>
                <td class="text-end">
                    <a href="@Url.Action("Edit", "ManagerHome", new { id = item.Id })" class="btn btn-outline-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("ChangeStatus", "ManagerHome", new { id = item.Id })" class="btn btn-outline-warning">
                        <i class="fas fa-check-circle"></i>
                    </a>
                    <a href="@Url.Action("Details", "ManagerHome", new { id = item.Id })" class="btn btn-outline-secondary">
                        <i class="fas fa-info-circle"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>$(document).ready(function () {
            $("#productTable").DataTable();
        })</script>
}

