@model IMS.Models.ViewModel.ManagerDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <div class="row">
        <!-- Left Side - Action Buttons -->
        <div class="col-md-3 bg-dark text-dark pt-4" style="height:700px">
            <h5 class="pb-2 p-2 mb-5 text-white"><i class="fa-solid fa-user-tie"></i>&nbsp; @User.Identity.Name</h5>
            <a href="@Url.Action("Index", "ManagerHome")" class="btn btn-dark mb-2  w-100 text-start"><i class="fa-solid fa-box"></i>&nbsp; Dashboard</a>
            <a href="@Url.Action("ProductList", "ManagerHome", new {area="Manager"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-store"></i>&nbsp; Product List</a>
            <a href="@Url.Action("ManagePrice", "Product", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-tag"></i>&nbsp; Manage Product</a>
            <a href="@Url.Action("InventoryOrder", "ManagerHome")" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-cart-flatbed-suitcase"></i>&nbsp; Inventory Order History</a>
            <a href="@Url.Action("Index", "CustomerOrder", new {area="Manager"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-dolly"></i>&nbsp; Customer Order</a>
            <a href="@Url.Action("Index", "Manage", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-gear"></i>&nbsp; Setting</a>
        </div>

        <!-- Right Side - View of Corresponding Action -->
        <div class="col-md-9" id="result-container">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-xlg-6 pb-2">
                    <a href="@Url.Action("ProductList", "ManagerHome")" style="text-decoration:none;">
                        <div class="box bg-primary text-center text-light p-3">
                            <i class="fa-solid fa-warehouse font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalProducts</h5>
                            <small class="font-light">Total Products</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-3 col-xlg-6 pb-2">
                    <a href="@Url.Action("ManagePrice", "Product", new {area=""})" style="text-decoration:none;">
                        <div class="box bg-secondary text-center text-light p-3">
                            <i class="fa-solid fa-tag font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.NewArrival</h5>
                            <small class="font-light">New Arrival</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-3 col-xlg-6 pb-2">
                    <a href="@Url.Action("TotalStaff", "ManagerHome")" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-warning text-center text-light p-3">
                            <i class="fa-solid fa-user font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalStaff</h5>
                            <small class="font-light">Total Staff</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-3 col-xlg-6 pb-2">
                    <a href="@Url.Action("Index", "CustomerOrder", new {area="Manager"})" style="text-decoration:none;">
                        <div class="box bg-success text-center text-light p-3">
                            <i class="fa-solid fa-shop font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.NewOrder</h5>
                            <small class="font-light">New Order's</small>
                        </div>
                    </a>
                </div>
                <br />            
            </div>

            <div class="row pt-4">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Latest Sales</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Shop Name</th>
                                        <th>Order Total</th>
                                        <th>Order Status</th>
                                        <th>Payment Status</th>
                                        <th>Order Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderHeaders)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.OrderTotal.ToString("C")</td>
                                            <td>@item.OrderStatus</td>
                                            <td>@item.PaymentStatus</td>
                                            <td>@item.OrderDate.ToString().AsDateTime().ToShortDateString()</td>
                                            <td class="text-end">
                                                <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id })" class="btn btn-outline-primary">
                                                    <i class="fas fa-edit"></i>
                                                </a>

                                                <a href="@Url.Action("Details", "CustomerOrder", new { id = item.Id })" class="btn btn-outline-secondary">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }                                  

                                </tbody>
                            </table>
                            <div class="text-end p-1">

                                @Html.ActionLink("Show More", "Index", "CustomerOrder", new { area = "Manager" }, new { @class = "btn btn-outline-success" })

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
