@model IMS.Models.ViewModel.ProductShortageViewModel
@{
    ViewBag.Title = "ProductShortage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2 pb-4 mb-4">
    <div class="col-md-6">
        <h4 class="text-uppercase">Product Shortage list</h4>
    </div>
    <div class="col-md-6 text-end">
        @if (User.IsInRole("Manager"))
        {
            <a href="@Url.Action("Index", "ManagerHome", new {area="Manager"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i>&nbsp; Back to Dashboard </a>
        }
        else if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i>&nbsp; Back to Dashboard </a>
        }
    </div>
</div>
<table class=" table table-striped table-hover" id="shortageProduct">
    <thead>
        <tr>
            <th>No.</th>
            <th>Image</th>
            <th>Name</th>
            <th>Shortage Count</th>
            <th>Order Now</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;
            int j = 1;
        }
        @foreach (var item in Model.products)
        {
            <tr>
                <td>@j</td>
                <td><img src="@Url.Content("~/Images/" + item.Image)" width="40" alt="img" /></td>
                <td>@item.Name</td>
                @if (Model.ShortageCounts.Count() != 0)
                {
                    <td>@Model.ShortageCounts.ElementAt(i)</td>
                    
                    if (Model.IsInOrders[Model.ProductIds.ElementAt(i)])
                    {
                        <td>
                            <a href="@Url.Action("ProductShortage", "ManagerHome", new {area="Manager"})" class="btn btn-outline-success" onclick="return validateCarrierNumber();"><i class="fa-solid fa-people-carry-box"></i>&nbsp; Already In Ordered Queue</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="@Url.Action("ProductDetails", "InventoryShopping", new {area="",ProductId = @Model.ProductIds.ElementAt(i), count=Model.ShortageCounts.ElementAt(i)})" class="btn btn-outline-danger"><i class="fa-solid fa-truck-ramp-box"></i>&nbsp; Buy Now </a>
                        </td>
                    }

                }

            </tr>
            i++;
            j++;
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#shortageProduct").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [1, 4] },
                    { "orderable": true, "targets": [0, 2, 3] }
                ]
            });
        })

        function validateCarrierNumber() {
            Swal.fire({
                title: "Oops!",
                text: "The requested product has already been ordered. To proceed with a new order, please ensure that the previous order for this product is added to the inventory first.",
                imageUrl: "/Images/stock.jpg",
                imageWidth: 400,
                imageHeight: 200,
                imageAlt: "Already in ordered queue!"
            });
            return false;
        }
    </script>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>