@model IEnumerable<IMS.Models.OrderHeader>
@{
    ViewBag.Title = "SellingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pb-4 pt-2">
    <div class="col-md-6">
        <h4 class="text-uppercase">Selling Report</h4>
    </div>
    <div class="col-6 text-end">

        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }

        @if (User.IsInRole("Manager"))
        {
            <a href="@Url.Action("Index", "ManagerHome", new {area="Manager"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }
    </div>
</div>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.StartDateValue" />
        </div>
        <div class="col">
            <input type="date" class="form-control" id="finalDate" name="endDate" value="@ViewBag.EndDateValue" />
        </div>
        <div class="col">
            <input type="text" class="form-control" id="search" name="searchText" placeholder="Write order id or shop name..." value="@(Request.QueryString["searchText"] ?? "")" />
        </div>
        <div class="col">
            <input type="submit" id="btnView" class="btn btn-primary w-100" value="Search" />
        </div>
    </div>
}

<div id="tableContainer">
    <table id="reportTable" class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Shop Name</th>
                <th>Payment Status</th>
                <th>Order Date</th>
                <th>Order Total($)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.PaymentStatus</td>
                    <td>@item.OrderDate.ToString().AsDateTime().ToShortDateString()</td>
                    <td>@item.OrderTotal.ToString("C")</td>
                </tr>
            }
            <tr class="bg-dark text-white">
                <td class="fw-bold text-white">Total :</td>
                <td colspan="3"></td>
                @{
                    decimal totalAmount = 0;
                }
                @foreach (var item in Model)
                {
                    totalAmount += @item.OrderTotal;
                }
                <td class="fw-bold text-white">@totalAmount.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click', '#btnView', function (e) {
                e.preventDefault();
                $("#tableContainer").html("");
                let startDate = $("#startDate").val();
                let endDate = $("#finalDate").val();
                let searchText = $("#search").val();

                $.ajax({
                    url: `@Url.Action("LoadSellingRecord", "ManagerHome")`,
                    data: { startDate: startDate, endDate: endDate, searchText: searchText },
                    success: function (result) {
                        console.log(result);
                        $("#tableContainer").html(result);
                    }
                });

            })
        })
    </script>
}