@model IEnumerable<IMS.Models.OrderHistory>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h4 class="text-uppercase">Order History Details</h4>
    </div>
</div>
<div class="p-4">
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Department</th>
                    <th>Product Type</th>
                    <th>Quantity</th>
                    <th>Price(Each)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderId</td>
                        <td>@item.GarmentsProduct.Id</td>
                        <td>@item.GarmentsProduct.Name</td>
                        <td>@item.GarmentsProduct.Department.Name</td>
                        <td>@item.GarmentsProduct.ProductType.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                    </tr>
                }
                <tr>
                    <td class="fw-bold">Total Price</td>
                    <td colspan="5"></td>
                    @foreach (var item in Model.Take(1))
                    {
                        <td class="fw-bold">@item.TotalPrice.ToString("C")</td>

                    }
                </tr>
            </tbody>
        </table>

    </div>
    <div class="mt-4 text-end">
        @Html.ActionLink("Back to Hisory", "OrderHistory", "GarmentsHome", new { area = "Garmentss", @class = "btn btn-outline-primary" })
    </div>
</div>
