@model IMS.Models.ViewModel.GarmentsDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <div class="row">
        <!-- Left Side - Action Buttons -->
        <div class="col-md-3 bg-dark text-dark pt-4" style="height:750px">
            <h5 class="pb-2 p-2 mb-5 text-white"><i class="fa-solid fa-building-user"></i>&nbsp; @User.Identity.Name</h5>
            <a href="@Url.Action("Index", "GarmentsHome", new {area="Garmentss"})" class="btn btn-dark mb-2  w-100 text-start"><img src="~/Images/dash.png" style="width:25px;padding:0px 6px 0px 0px;" />&nbsp; Dashboard</a>
            <a href="@Url.Action("ProductList", "Garments", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-store"></i>&nbsp; Manage Product</a>
            <a href="@Url.Action("DeactivatedList", "Garments", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-ban"></i>&nbsp; Deactivated Product</a>
            <a href="@Url.Action("RejectedOrder", "GarmentsHome", new {area="Garmentss"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-regular fa-rectangle-xmark"></i>&nbsp; Rejected Order</a>
            <a href="@Url.Action("Index", "Manage", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-gear"></i>&nbsp; Setting</a>
        </div>

        <!-- Right Side - View of Corresponding Action -->
        <div class="col-md-9" id="result-container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xlg-6 pb-2">
                    <a href="@Url.Action("ProductList", "Garments", new {area=""})" style="text-decoration:none;">
                        <div class="box bg-primary text-center text-light p-3">
                            <i class="fa-solid fa-warehouse font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalProduct</h5>
                            <small class="font-light">Total Products</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-6 col-xlg-6 pb-2">
                    <a href="@Url.Action("OrderHistory", "GarmentsHome", new {area="Garmentss"})" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-success text-center text-light p-3">
                            <i class="fa-solid fa-tag font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalHistory</h5>
                            <small class="font-light">Order</small>
                        </div>
                    </a>
                </div>
                <br />
            </div>

            <div class="row pt-4">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase">Recent Sales</h4>
                        </div>
                        <div class="table-responsive p-2">
                            <table class="table table-hover" id="latestSale">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Order Id</th>
                                        <th class="border-top-0">ORDER BY</th>
                                        <th class="border-top-0">ORDER DATE</th>
                                        <th class="border-top-0">TOTAL PRICE</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderHistory.GroupBy(item => item.OrderId).Select(group => group.First()).OrderByDescending(i => i.CreationDate).Take(5))
                                    {
                                        int depth = item.OrderId.ToString().Length;
                                        int dif = 6 - depth;
                                        string num = item.OrderId.ToString();
                                        if (dif > 0)
                                        {
                                            string newId = new string('0', dif);
                                            num = newId + num;
                                        }
                                        <tr>
                                            <td class="txt-oflo">@num</td>
                                            <td class="txt-oflo">@Model.OrderBy[item.OrderId]</td>
                                            <td class="txt-oflo">@item.CreationDate.ToString().AsDateTime().ToShortDateString()</td>
                                            <td class="txt-oflo">@Model.TotalPrice[item.OrderId].ToString("C")</td>
                                            <td>
                                                <a href="@Url.Action("Details", "GarmentsHome",new {area="Garmentss", orderId = item.OrderId })" class="btn btn-outline-dark">
                                                    <i class="fa-solid fa-list"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="text-end p-2">
                                @if (Model.OrderHistory.Count() > 5)
                                {
                                    @Html.ActionLink("Show More", "OrderHistory", "GarmentsHome", new { area = "Garmentss" }, new { @class = "btn btn-outline-success" })
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
