@model IMS.Models.ViewModel.GarmentsOrderHistoryViewModel
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2 pb-4 mb-4">
    <div class="col-6">
        <h4 class="text-uppercase">Order History</h4>
    </div>
    <div class="col-6 text-end">
        <a href="@Url.Action("Index", "GarmentsHome", new {area="Garmentss"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
    </div>
</div>
<table class="table table-striped table-hover pt-2 pb-4" id="historyOrder">
    <thead>
        <tr>
            <th class="border-top-0">Order Id</th>
            <th class="border-top-0">ORDER By</th>
            <th class="border-top-0">ORDER DATE</th>
            <th class="border-top-0">TOTAL PRICE</th>
            <th class="border-top-0">Actions</th>
        </tr>
    </thead>
    <tbody>
        

        @foreach (var item in Model.OrderHistory.GroupBy(u => u.OrderId).Select(t => t.First()))
        {
            int depth = item.OrderId.ToString().Length;
            int dif = 6 - depth;
            string num = item.OrderId.ToString();
            if (dif > 0)
            {
                string newId = new string('0', dif);
                num = newId + num;
            }
            <tr>
                <td class="txt-oflo">@num</td>
                <td class="txt-oflo">@Model.OrderBy[item.OrderId]</td>
                <td class="txt-oflo">@item.CreationDate.ToString().AsDateTime().ToShortDateString()</td>
                <td class="txt-oflo">@Model.TotalPrice[item.OrderId].ToString("C")</td>
                <td>
                    <a href="@Url.Action("Details", "GarmentsHome",new {area="Garmentss", orderId = item.OrderId })" class="btn btn-outline-dark">
                        <i class="fa-solid fa-list"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#historyOrder").DataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>
}
