@model IMS.Models.Department

@{
    ViewBag.Title = "Create";
}

<h2 class="text-uppercase">Create Department</h2>
<div id="DivDept">
</div>
@using (Ajax.BeginForm("Create", "Department", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "DivDept",
    OnComplete = "ClearFields"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "dName" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Department" class="pl-2 pr-2 btn btn-outline-success" />
                @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-outline-info" })
            </div>
        </div>
    </div>
}




@section Scripts {
    <script>
        var messageTimer;

        function updateDivDept(data) {
            var divElement = document.getElementById("DivDept");
            if (data && data.message) {
                var messageElement = document.createElement("div");
                messageElement.innerHTML = data.message;

                if (data.success) {

                    messageElement.classList.add("message");
                } else {

                    messageElement.classList.add("messageError");
                }

                divElement.appendChild(messageElement);

                messageTimer = setTimeout(function () {
                    messageElement.remove();
                }, 2000);
            }
        }

        // AJAX form submission complete callback
        function ClearFields(ajaxContext) {
            updateDivDept(ajaxContext.responseJSON);
            document.getElementById("dName").value = "";

        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>