@model IEnumerable<IMS.Models.Department>

@{
    ViewBag.Title = "Index";
}

<div class="row pb-4 pt-2">
    <div class="col-md-5">
        <h4 class="text-uppercase">Deactivate Departmentst</h4>
    </div>
    <div class="col-md-7 text-end">
        <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i>&nbsp; Back to Dashboard </a>
        <a href="@Url.Action( "Index","Department", new {area=""})" class="btn btn-outline-primary"><i class="fa-solid fa-square-caret-left"></i>&nbsp; Back to List </a>
    </div>
</div>

@using (Ajax.BeginForm("Deactivate", "Department", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "DivDepartment"
}))
{
    <div class="row mb-2 pt-4">
        <div class="col-10">
            <input type="text" name="dept" class="form-control" />
        </div>
        <div class="col-2">
            <button type="submit" class="form-control btn btn-outline-primary"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

}
<div id="DivDepartment">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {


            <tr>
                <td colspan="2">No Data Found.....</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-end">
                        <a href="@Url.Action("Edit", "Department", new { id = item.Id })" class="btn btn-outline-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Active", "Department", new { id = item.Id })" class="btn btn-outline-warning">
                            <i class="fas fa-times"></i>
                        </a>
                       
                    </td>
                </tr>
            }
        }

    </table>
</div>
