@model IMS.Models.Department

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-uppercase">Edit Department</h2>
<div id="DeptEdit">@if (TempData["Edata"] != null){<p>@TempData["Edata"]</p>}</div>
@using (Ajax.BeginForm("Edit", "Department",new AjaxOptions(){
                HttpMethod="POST",
                InsertionMode=InsertionMode.Replace,
                UpdateTargetId="DeptEdit"
}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DepartmentId)

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label" })
            <div class="col-12">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>   
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-success" />
                @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-outline-info"})
            </div>
        </div>
    </div>
}

