@model IMS.Models.ViewModel.CustomerDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid p-0">
    <div class="row">
        <!-- Left Side - Action Buttons -->
        <div class="col-md-3 bg-dark text-dark pt-4" style="height:750px">
            <h5 class="pb-2 p-2 mb-5 text-white"><i class="fa-solid fa-user-tie"></i>&nbsp; @User.Identity.Name</h5>
            <a href="@Url.Action("Index", "CustomerHome", new {area="Customer"})" class="btn btn-dark mb-2  w-100 text-start"> <img src="~/Images/dash.png" style="width:25px;padding:0px 6px 0px 0px;" />&nbsp; Dashboard</a>
            <a href="@Url.Action("OrderDetails", "CustomerHome", new {area="Customer"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-dolly"></i>&nbsp; My Order</a>
            <a href="@Url.Action("Index", "Manage", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-gear"></i>&nbsp; Setting</a>
        </div>

        <!-- Right Side - View of Corresponding Action -->
        <div class="col-md-9" id="result-container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("OrderDetails", "CustomerHome", new {area="Customer", status = "Delivered"})" style="text-decoration:none;">
                        <div class="box bg-primary text-center text-light p-3">
                            <i class="fa-solid fa-cart-flatbed-suitcase font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalOrders</h5>
                            <small class="font-light">Total Received Orders</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("OrderDetails", "CustomerHome", new {area="Customer", status="All"})" style="text-decoration:none;">
                        <div class="box bg-success text-center text-light p-3">
                            <i class="fa-solid fa-clock font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.NewArrival</h5>
                            <small class="font-light">Order In Queue</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("OrderDetails", "CustomerHome", new {area="Customer", status = "Cancelled" })" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-danger text-center text-light p-3">
                            <i class="fa-solid fa-xmark font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalCanceledOrder</h5>
                            <small class="font-light">Cancelled Orders</small>
                        </div>
                    </a>
                </div>
                <br />

            </div>

            <div class="row pt-4">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase">Recent Orders</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Order Total</th>
                                        <th>Order Status</th>
                                        <th>Payment Status</th>
                                        <th>Order Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderHeaders.OrderByDescending(u => u.Id).Take(5))
                                    {

                                        int depth = item.Id.ToString().Length;
                                        int dif = 6 - depth;
                                        string num = item.Id.ToString();
                                        if (dif > 0)
                                        {
                                            string newId = new string('0', dif);
                                            num = newId + num;
                                        }

                                        <tr>
                                            <td>
                                                @num
                                            </td>
                                            <td>@item.OrderTotal.ToString("C")</td>
                                            <td>

                                                @if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusApproved)
                                                {
                                                    <span class="badge bg-info">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusInProces)
                                                {
                                                    <span class="badge bg-warning text-dark">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusShipped)
                                                {
                                                    <span class="badge bg-secondary">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusDelivered)
                                                {
                                                    <span class="badge bg-success">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusCancelled)
                                                {
                                                    <span class="badge bg-danger">@item.OrderStatus</span>
                                                }

                                            </td>
                                            <td>
                                                @if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusCancelled)
                                                {
                                                    <span class="badge bg-danger">@item.PaymentStatus</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success">@item.PaymentStatus</span>
                                                }

                                            </td>
                                            <td>@item.OrderDate.ToString().AsDateTime().ToShortDateString()</td>
                                            <td class="text-end">
                                                @if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusApproved)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id,area="Manager" })" class="btn btn-outline-info">
                                                        <i class="fa-solid fa-info"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusInProces)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id,area="Manager" })" class="btn btn-outline-warning">
                                                        <i class="fa-solid fa-info"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusShipped)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id ,area="Manager"})" class="btn btn-outline-secondary">
                                                        <i class="fa-solid fa-info"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusDelivered)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id ,area="Manager"})" class="btn btn-outline-success">
                                                        <i class="fa-solid fa-info"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusCancelled)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id ,area="Manager"})" class="btn btn-outline-danger">
                                                        <i class="fa-solid fa-info"></i>
                                                    </a>
                                                }
                                                <a href="@Url.Action("InvoiceForCustomer", "CustomerShopping", new { id = item.Id ,area=""})" class="btn btn-outline-dark">
                                                    <i class="fa-solid fa-receipt"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="text-end p-1">
                                @if (Model.OrderHeaders.Count() > 5)
                                {
                                    @Html.ActionLink("Show More", "OrderDetails", "CustomerHome", new { area = "Customer" , status="All"}, new { @class = "btn btn-outline-success" })
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>