@model IEnumerable<IMS.Models.Product>

@{
    ViewBag.Title = "ManagePrice";
}


<div class="row pb-3">
    <div class="col-6">
        <h4 class="text-uppercase">Check Product and set price</h4>
    </div>
    <div class="col-6 text-end">

        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }

        @if (User.IsInRole("Manager"))
        {
            <a href="@Url.Action("Index", "ManagerHome", new {area="Manager"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }
    </div>
</div>

<br />
<table class="table table-striped table-hover" id="managePriceTable">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Buying Price(each)</th>
            <th>Garments Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content("~/Images/" + item.Image)" width="30" class="rounded" alt="Product Image">
                </td>
                <td>@item.Name</td>
                <td>@item.SKU</td>
                <td>@item.Quantity</td>
                <td>@item.BuyingPrice</td>
                <td>@item.GarmentsId</td>
                <td>
                    <a href="@Url.Action("SetPrice", "Product", new { id = item.Id })" class="btn btn-outline-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#managePriceTable").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [0, 6] },
                    { "orderable": true, "targets": [1, 2, 3, 4, 5] }
                ]
            });
        })
    </script>
}

