@model IEnumerable<IMS.Models.Product>
@{
    ViewBag.Title = "RejectedProductList";
}


<div class="row">
    <div class="col-md-6">
        <h4 class="text-uppercase">Rejected Product List</h4>
    </div>
    <div class="col-md-6 text-end">
        <a href="@Url.Action("ApproveProduct", "StaffHome", new {area="Staff"})" class="btn btn-outline-success"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Back To List</a>
    </div>
</div>
<br/>
<table class="table table-striped table-hover" id="approveTable">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Garments Name</th>
            <th>Rejected By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderHistoryId</td>
                <td>
                    <img src="@Url.Content("~/Images/" + item.Image)" width="30" class="rounded" alt="Product Image">
                </td>
                <td>@item.Name</td>
                <td>@item.SKU</td>
                <td>@item.Quantity</td>
                <td>@item.GarmentsId</td>
                <td>@item.ApprovedBy</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>$(document).ready(function () {
            $("#approveTable").DataTable();
        })</script>
}
