@model IMS.Models.ViewModel.AdminDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-3 bg-dark text-dark pt-4" style="height:750px">
            <h5 class="pb-2 p-2 mb-5 text-white"><i class="fa-solid fa-user-tie"></i>&nbsp; @User.Identity.Name</h5>
            <a href="@Url.Action("Index","Home")" class="btn btn-dark mb-2  w-100 text-start"><i class="fa-solid fa-box"></i>&nbsp; Dashboard</a>
            <a href="@Url.Action("Employees","Home")" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-users"></i>&nbsp; Employee</a>
            <a href="@Url.Action("ProductList", "Home")" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-store"></i>&nbsp; Manage Product</a>
            <a href="@Url.Action("Index", "Department", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-table"></i>&nbsp; Manage Department</a>
            <a href="@Url.Action("Index", "ProductType", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-shirt"></i>&nbsp; Manage Product Type</a>
            <a href="@Url.Action("ApproveProduct", "Product", new {area=""})" class="btn btn-dark mb-2 w-100 text-start position-relative">

                <i class="fa-solid fa-clipboard-check"></i>&nbsp; Product Approval
                @if (ViewBag.NeedApproval != null && (int)ViewBag.NeedApproval > 0)
                {
                    <span class="position-absolute top-2 start-60 translate-middle badge rounded-pill bg-danger" style="margin-top:5px; margin-left:10px;">@ViewBag.NeedApproval</span>
                }

            </a>

            <a href="@Url.Action("InventoryOrder", "ManagerHome", new {area="Manager"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-cart-flatbed-suitcase"></i>&nbsp; Inventory Order History</a>
            <a href="@Url.Action("ProductShortage", "ManagerHome", new {area="Manager"})" class="btn btn-dark mb-2 w-100 text-start  position-relative">

                <i class="fa-solid fa-arrow-down-wide-short"></i>&nbsp; Product Shortage
                @if (ViewBag.ProductShortageCount != null && (int)ViewBag.ProductShortageCount > 0)
                {
                    <span class="position-absolute top-2 start-60 translate-middle badge rounded-pill bg-danger" style="margin-top:5px; margin-left:10px;">@ViewBag.ProductShortageCount</span>
                }

            </a>
            <a href="@Url.Action("SellingReport", "ManagerHome", new {area="Manager"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-chart-line"></i>&nbsp; Selling Report</a>
            <a href="@Url.Action("BuyingReport", "ManagerHome", new {area="Manager"})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-chart-column"></i>&nbsp; Buying Report</a>
            <a href="@Url.Action("Index", "Manage", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-gear"></i>&nbsp; Setting</a>
        </div>
        <div class="col-md-9" id="result-container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("ProductList", "Home")" style="text-decoration:none;">
                        <div class="box bg-primary text-center text-light p-3">
                            <i class="fa-solid fa-warehouse font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalProduct</h5>
                            <small class="font-light">Total Products</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Employees", "Home")" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-warning text-center text-light p-3">
                            <i class="fa-solid fa-users font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalEmployee</h5>
                            <small class="font-light">Total Employee</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Shop", "Home")" style="text-decoration:none;">
                        <div class="box bg-success text-center text-light p-3">
                            <i class="fa-solid fa-shop font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalShop</h5>
                            <small class="font-light">Total Shop</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Index", "CustomerOrder", new {area="Manager",status="Shipped"})" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-secondary text-center text-light p-3">
                            <i class="fa-solid fa-bag-shopping font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalOrders</h5>
                            <small class="font-light">Total Order</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Index", "CustomerOrder", new {area="Manager",status="All"})" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-info text-center text-light p-3">
                            <i class="fa-solid fa-table font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalNewOrders</h5>
                            <small class="font-light">New Orders</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Index", "CustomerOrder", new {area="Manager",status="Refunded"})" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-danger text-center text-light p-3">
                            <i class="fa-solid fa-circle-left font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalCancelOrder</h5>
                            <small class="font-light">Refunded Orders</small>
                        </div>
                    </a>
                </div>
                <br />

            </div>

            <div class="row pt-4">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Recent Sales</h5>
                        </div>
                        <div class="table-responsive p-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Shop Name</th>
                                        <th>Order Total</th>
                                        <th>Order Status</th>
                                        <th>Payment Status</th>
                                        <th>Order Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.orderHeaders.Take(5))
                                    {
                                        int depth = item.Id.ToString().Length;
                                        int dif = 6 - depth;
                                        string num = item.Id.ToString();
                                        if (dif > 0)
                                        {
                                            string newId = new string('0', dif);
                                            num = newId + num;
                                        }
                                        <tr>
                                            <td>
                                                @num
                                            <td>@item.Name</td>
                                            <td>@item.OrderTotal.ToString("C")</td>
                                            <td>

                                                @if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusApproved)
                                                {
                                                    <span class="badge bg-info">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusInProces)
                                                {
                                                    <span class="badge bg-warning text-dark">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusShipped)
                                                {
                                                    <span class="badge bg-secondary">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusDelivered)
                                                {
                                                    <span class="badge bg-success">@item.OrderStatus</span>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusCancelled)
                                                {
                                                    <span class="badge bg-danger">@item.OrderStatus</span>
                                                }

                                            </td>
                                            <td>
                                                @if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusCancelled)
                                                {
                                                    <span class="badge bg-danger">@item.PaymentStatus</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success">@item.PaymentStatus</span>
                                                }

                                            </td>
                                            <td>@item.OrderDate.ToString().AsDateTime().ToShortDateString()</td>
                                            <td class="text-end">
                                                @if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusApproved)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id,area="Manager" })" class="btn btn-outline-info">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusInProces)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id ,area="Manager"})" class="btn btn-outline-warning">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusShipped)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id,area="Manager" })" class="btn btn-outline-secondary">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusDelivered)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id,area="Manager" })" class="btn btn-outline-success">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                }
                                                else if (item.OrderStatus == IMS.Utility.ShoppingHelper.StatusCancelled)
                                                {
                                                    <a href="@Url.Action("Edit", "CustomerOrder", new { id = item.Id ,area="Manager"})" class="btn btn-outline-danger">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                }


                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                            <div class="text-end p-2">
                                @if (Model.orderHeaders.Count() > 5)
                                {
                                    @Html.ActionLink("Show More", "Index", "CustomerOrder", new { area = "Manager" }, new { @class = "btn btn-outline-success" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
