@model IMS.Models.ViewModel.AdminDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <div class="row">
        <!-- Left Side - Action Buttons -->
        <div class="col-md-3 bg-dark text-dark pt-4" style="height:700px">
            <h5 class="pb-2 p-2 mb-5 text-white"><i class="fa-solid fa-user-tie"></i>&nbsp; @User.Identity.Name</h5>
            <a href="@Url.Action("Index", "Home")" class="btn btn-dark mb-2  w-100 text-start"><i class="fa-solid fa-box"></i>&nbsp; Dashboard</a>
            <a href="@Url.Action("Employee","Home")" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-users"></i>&nbsp; Employee</a>
            <a href="@Url.Action("ProductList", "Home")" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-store"></i>&nbsp; Manage Product</a>
            <a href="@Url.Action("Index", "Department", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-table"></i>&nbsp; Manage Department</a>
            <a href="@Url.Action("Index", "ProductType", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-shirt"></i>&nbsp; Manage Product Type</a>
            <a href="@Url.Action("InventoryOrder", "Home")" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-cart-flatbed-suitcase"></i>&nbsp; Inventory Order History</a>
            <a href="@Url.Action("Index", "Manage", new {area=""})" class="btn btn-dark mb-2 w-100 text-start"><i class="fa-solid fa-gear"></i>&nbsp; Setting</a>
        </div>

        <!-- Right Side - View of Corresponding Action -->
        <div class="col-md-9" id="result-container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("ProductList", "Home")" style="text-decoration:none;">
                        <div class="box bg-primary text-center text-light p-3">
                            <i class="fa-solid fa-warehouse font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalProduct</h5>
                            <small class="font-light">Total Products</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Employee", "Home")" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-warning text-center text-light p-3">
                            <i class="fa-solid fa-user font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalEmployee</h5>
                            <small class="font-light">Total Employee</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("Shop", "Home")" style="text-decoration:none;">
                        <div class="box bg-success text-center text-light p-3">
                            <i class="fa-solid fa-shop font-16"></i>
                            <h5 class="mb-0 mt-1">@Model.TotalShop</h5>
                            <small class="font-light">Total Shop</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("InventoryCart", "InventoryShopping")" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-secondary text-center text-light p-3">
                            <i class="fa-solid fa-bag-shopping font-16"></i>
                            <h5 class="mb-0 mt-1">656</h5>
                            <small class="font-light">Total Order</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("InventoryCart", "InventoryShopping")" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-info text-center text-light p-3">
                            <i class="fa-solid fa-table font-16"></i>
                            <h5 class="mb-0 mt-1">656</h5>
                            <small class="font-light">Pending Orders</small>
                        </div>
                    </a>
                </div>
                <br />
                <div class="col-md-6 col-lg-4 col-xlg-6 pb-2">
                    <a href="@Url.Action("InventoryCart", "InventoryShopping")" id="totalProduct" style="text-decoration:none;">
                        <div class="box bg-danger text-center text-light p-3">
                            <i class="fa-solid fa-circle-left font-16"></i>
                            <h5 class="mb-0 mt-1">656</h5>
                            <small class="font-light">Return Orders</small>
                        </div>
                    </a>
                </div>
                <br />

            </div>

            <div class="row pt-4">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Latest Sales</h4>
                        </div>
                        <div class="table-responsive p-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">SHOP NAME</th>
                                        <th class="border-top-0">NAME</th>
                                        <th class="border-top-0">STATUS</th>
                                        <th class="border-top-0">DATE</th>
                                        <th class="border-top-0">PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt-oflo">Arose Dress</td>
                                        <td class="txt-oflo">Believers Hoodie</td>
                                        <td><span class="label label-info label-rounded">PROCESSING</span></td>
                                        <td class="txt-oflo">September 18, 2023</td>
                                        <td><span class="font-medium">$240</span></td>
                                    </tr>
                                    <tr>
                                        <td class="txt-oflo">Online Dress Collection</td>
                                        <td class="txt-oflo">Levi’s Jeans</td>
                                        <td><span class="label label-info label-rounded">PROCESSING</span></td>
                                        <td class="txt-oflo">September 19, 2023</td>
                                        <td><span class="font-medium">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td class="txt-oflo">Nabila</td>
                                        <td class="txt-oflo">Louis Philippe Shirt</td>
                                        <td><span class="label label-purple label-rounded">PENDING</span></td>
                                        <td class="txt-oflo">September 18, 2023</td>
                                        <td><span class="font-medium">$1250</span></td>
                                    </tr>
                                    <tr>
                                        <td class="txt-oflo">Dress Line Bangladesh</td>
                                        <td class="txt-oflo">Monte Carlo Sweater</td>
                                        <td><span class="label label-info label-rounded">PROCESSING</span></td>
                                        <td class="txt-oflo">September 18, 2023</td>
                                        <td><span class="font-medium">$424</span></td>
                                    </tr>
                                    <tr>
                                        <td class="txt-oflo">Dhrupodi Fashios</td>
                                        <td class="txt-oflo">Mufti CLUB Wear</td>
                                        <td><span class="label label-info label-rounded">PROCESSING</span></td>
                                        <td class="txt-oflo">September 19, 2023</td>
                                        <td><span class="font-medium">$724</span></td>
                                    </tr>
                                    <tr>
                                        <td class="txt-oflo">Taash Clothing</td>
                                        <td class="txt-oflo">Pepe Jeans</td>
                                        <td><span class="label label-info label-rounded">PROCESSING</span></td>
                                        <td class="txt-oflo">September 19, 2023</td>
                                        <td><span class="font-medium">$1040</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-end p-2"><input type="submit" value="Show More" class="btn btn-success text-light" /></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
